*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body{
    font-family: "Source Sans Pro", sans-serif;
}
.sign-in{
    position: absolute;
    right: 70px;
    top : 20px;
    font-weight: bold;

}

nav{
    position: absolute;
    right : 230px;
    color : black;
}

.brand{
    position: absolute;
    top : 12px;
    left : 30px;
    font-weight: bold;
}

.list-item{
    display: inline-block;
    margin : 10px 8px;
    padding : 16px 8px;
    font-size: 20px;
    font-weight: bold;
}

.list-item:hover,
.list-item:active{
    color : white;
    cursor: pointer;
    border-bottom: 2px solid white;
    padding : 0;
}

h1{
    text-align: center;
    margin-top : 5px;
    margin-bottom: 0;
    position: relative;
    top : 70px;
    color : grey;
}
.heading{
    color :#03a1fc;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: inherit;
    position: absolute;
    left : 50px;
    top : 150px;
}

.downloadW{
    position: absolute;
    top : 320px;
    left : 200px;
}

.downloadI{
    position: absolute;
    top : 320px;
    left : 400px;
}

.pre-text pre{ 
    position: absolute;
    color : white;
    bottom : 70px;
    font-family: inherit;
    font-size: 25px;
    left : -30px;
}

form{
    position: relative;
    left: 300px;
    top : 100px;
    width : 500px;
    height : 500px;
    padding: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    display: inline-block;
    text-align: left;
    margin: auto;
    border : 2px solid #ccc;
    border-radius: 8px;
}

form a{
    text-decoration: none;
}

.inputs{
    display: block;
    padding : 14px 20px;
    margin : 15px 0;
    width : 300px;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #ccc;
    outline: none;
    border : none;
    font-size: 20px;
    border-radius: 5px;
    letter-spacing: 4px; 
    position: relative;
    left : 80px;
    top : 80px;
}

.inputs:focus,
.inputs:active{
    background-color: #8ab892;
}

.inputBtn{
    display: block;
    padding : 16px 8px;
    margin : 10px 0;
    width : 300px;
    font-family: "Source Sans Pro", sans-serif;
    background-color:#0398fc;
    cursor : pointer;
    outline: none;
    font : white;
    font-weight: bold;
    font-size: 20px;
    border : none;
    border-radius: 8px;
    color : white;
    letter-spacing: 5px; 
    position: relative;
    left : 80px;
    top : 80px;
}

.inputBtn:hover,
.inputBtn:active{
    background-color: #01852d;
    color : black;
}

.background {
  display: block;
  background-image: url(images/backg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.blur {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  height: 100vh;
}

footer{
    color : white;
    font-size: 20px;
    position: relative;
    top : 120px;
}

